<ag-grid-angular style="width: 100%; height: 170px;" class="ag-fresh"  [columnDefs]="dataColumnDefs" [gridOptions]="gridOptions"
  (gridReady)="onGridReady($event)" [enableColResize]="true" [rowBuffer]="rowBuffer" [debug]="true" [rowSelection]="rowSelection"
  [rowDeselection]="true" [rowModelType]="rowModelType" [paginationPageSize]="paginationPageSize" [cacheOverflowSize]="cacheOverflowSize"
  [maxConcurrentDatasourceRequests]="maxConcurrentDatasourceRequests" [infiniteInitialRowCount]="infiniteInitialRowCount" [maxBlocksInCache]="maxBlocksInCache">
</ag-grid-angular>